# Ignore everything
*

# But don't ignore this file
!postgres-perm-fix.sh
!01-init.sh
!01-init.sql
!docker-compose.yml
!Dockerfile

# Also don't ignore .gitignore itself (optional but recommended)
!.gitignore
